.clock-container {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.clock {
  font-size: 64px;
  font-weight: bold;
}

.alarm-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.alarm-form {
  display: flex;
  margin-bottom: 20px;
}

.alarm-form label {
  margin-right: 10px;
}

.alarm-form input {
  width: 50px;
  margin-right: 10px;
  text-align: center;
}

.alarm-button,
.snooze-button {
  font-size: 24px;
  margin-bottom: 20px;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.alarm-button {
  background-color: green;
  color: white;
}

.alarm-button.playing {
  background-color: red;
}

.snooze-button {
  display: none;
  background-color: yellow;
}

#snoozeCountdown {
  font-size: 24px;
  margin-left: 5px;
}
